/* Generated CSS from Figma Design */
/* File: BETS Roulette */
/* Frame: Desktop - 1 - 1920x1080px */

.roulette-container {
  width: 1920px;
  height: 1080px;
  position: relative;
  background-color: #000000;
}

.bg-1 {
  position: absolute;
  left: -55px;
  top: 0px;
  width: 2030px;
  height: 1142px;
}

.giveaways-box {
  position: absolute;
  left: 411px;
  top: 345px;
  width: 649px;
  height: 578px;
}

.wheel {
  position: absolute;
  left: 760px;
  top: 180px;
  width: 820px;
  height: 820px;
}

.list {
  position: absolute;
  left: 454px;
  top: 383px;
  width: 296px;
  height: 417px;
}

.bets-logo-1 {
  position: absolute;
  left: 685px;
  top: 39px;
  width: 292px;
  height: 138px;
}

.lucky-spin-1 {
  position: absolute;
  left: 425px;
  top: 201px;
  width: 373px;
  height: 171px;
}

.rectangle-1 {
  position: absolute;
  left: 454px;
  top: 827px;
  width: 296px;
  height: 56px;
}

.tokens {
  position: absolute;
  left: 55px;
  top: -65px;
  width: 1889px;
  height: 1110px;
}

.1-9 {
  position: absolute;
  left: -81px;
  top: -44px;
  width: 329px;
  height: 247px;
}

.3-1 {
  position: absolute;
  left: 248px;
  top: -33px;
  width: 171px;
  height: 126px;
}

.6-1 {
  position: absolute;
  left: 1580px;
  top: 235px;
  width: 163px;
  height: 93px;
}

.13-1 {
  position: absolute;
  left: 1680px;
  top: -50px;
  width: 330px;
  height: 201px;
}

.14-1 {
  position: absolute;
  left: 1615px;
  top: 591px;
  width: 199px;
  height: 153px;
}

.17-1 {
  position: absolute;
  left: -40px;
  top: 658px;
  width: 190px;
  height: 142px;
}

.18-1 {
  position: absolute;
  left: 1731px;
  top: 827px;
  width: 304px;
  height: 222px;
}

.whatsapp-image-2025-12-10-at-11.52.52_2ace6d06-1 {
  position: absolute;
  left: 998px;
  top: 22px;
  width: 237px;
  height: 142px;
}
